body{
    margin: 5px;
    padding: 5px;
    background-color: #c6e2ff;
}

#coupons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#coupons > .coupon {
    width: 30px;
    height: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 2px #444;
    padding: 5px;
    overflow: visible;
}

#coupons > .coupon > div {
    text-align: center;
    word-wrap: break-word;
}