<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer Details</title>
  <style>
    body {
      background-image: url(https://cdn.dribbble.com/users/3474264/screenshots/16996313/media/be641bbbe991ad8b99f270991112df25.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</head>
<body>
<h1>Customer Details</h1>

<div class="customer-details">
  <form th:action="@{/update-customer}" method="post" th:object="${customer}">
    <input type="hidden" th:field="*{id}">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}">
    <br>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}">
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}">
    <br>
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}">
    <br>
    <button type="submit">Update</button>
  </form>
</div>
</body>
</html>