<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <style>
    body {
      background-image: url(https://img.freepik.com/free-photo/colorful-tie-dye-background-with-abstract-watercolor-border_53876-104889.jpg?w=996&t=st=1711657260~exp=1711657860~hmac=a6b6eb59f23f5f88fbc0db7a098ece39b25f1c397643cc3c8a516164f2ebd823);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</head>
<body>
<h1>Welcome <span th:text="${userEmail}"></span></h1>

<div th:if="${purchasedCoupons}">
  <h2>Purchased Coupons:</h2>
  <ul>
    <li th:each="coupon : ${purchasedCoupons}">
      <span th:text="${coupon.name}"></span>
    </li>
  </ul>
</div>

<button onclick="window.location.href='/coupon-page'">View Coupons</button>
<button onclick="window.location.href='/store'">Store</button>
<button onclick="window.location.href='/logout'">Logout</button>
</body>
</html>